build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdata
*.xcshareddata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.DS_Store
xcuserdata/
/.build

*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata
Pods/Pods.xcodeproj/xcuserdata
Pods/Pods.xcodeproj/xcshareddata

Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
